
body{
  /* background-color: #002428; */
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1900px;
  height:auto;
}
*{
  box-sizing: border-box;
  list-style: none;
}
a{
  text-decoration:none;
}
a:visited, a:link, a:active{
	text-decoration: none;
}
.main3{
	width: 100%;

}
input.search{
  width: 7rem;
  height: 2rem;
  transition: 2s;
  border-radius: 15px;
  color: rgba(255, 0, 0, 0.5);
  text-align: center;

}
input.search:hover{
  transition: 2s;
  width: 15rem;

/* main3 상단 해더 시작 */
}
.main3_home{
	float: left;
	width: 100px;
	text-align: center;
	display: inline-block;
	padding-top: 2rem;
	font-size: 1.2rem;
}
/*.main3_nav_control{
	height: 90px;
	width: 100%;
}*/
.main3_nav{
  width: 100%;
  height: 90px;
  background-color: #fff;
  position: fixed;
  border-bottom:1px solid gray;
  padding-left: 2.5rem;
  top: 0;
  z-index: 30;
}
.main3_nav_table{
  display: table;
  padding-top: 2rem;
  padding-left: 2rem;
  /*position: relative;*/
  display: inline-block;
}
.main3_nav_row{
  display: table-row;
  width: 100px;
  /*border:1px solid red;*/
  clear: left;
    /*position: relative;*/
 
}
.main3_nav_cell{
  display: table-cell;
  width: 150px;
  /*border: 1px solid gray;*/
  text-align: center;
  float: left;
  transition: 2s;
    /*position: relative;*/

}
.main3_nav_cell:hover{
  background-color: orange;
  transition: 2s;
  border-radius: 15px;
  /*width: 250px;*/
}
.main3__nav_icon{
  float: right;
  color: black;
  padding-right: 20px;
}

.search_bar{
	float: right;
	padding-top: 1.2rem;
}
/* main3 상단 해더 끝 */



/* main3 main 시작*/

/* top pic 시작 */
.main3_section{
 /* padding-top: 8rem;*/
  width: 100%;
  height: auto;
}
.main3_top{
	width: 100%;
  	background-image: url("../../common/img/main3_top_background3.jpg");
  	height: 1000px;
  	margin-top: 90px;
  	background-size: 100%;
  	/*background-repeat:no-repeat;*/
}
.main3_top_content_pic{
	width: 50%;
	height: 100%;
	float: left;
	/*border: 1px solid red;*/
	padding:13rem 0 13rem 10rem;
	/*position: relative;*/
}
.main3_top_content_pic>img{
	border-radius: 10px;
	/*position: absolute;*/
	float: right;
	margin-top: 3rem;
	margin-right: 1.5rem;
	transition: 2s;
	
}
.main3_top_picture:hover{
	transform: scale(1.1);
	transition: 5s;
}

.main3_top_content_article{
	width: 50%;
	height: 100%;
	float: left;
	/*border: 1px solid blue;*/
	padding: 13rem 10rem 13rem 0;
	color: rgba(255,255,255,1);
}
.main3_top_content_article h1{
	font-size: 3rem;
}
.main3_top_content_article>h1:hover{

	transition: 0.5s;
	color: rgba(255,255,255,0.5);
}
.main3_top_content_article p{
	font-family: Nanum Myeongjo;
}


/* top pic 끝 */

/* top servr_menu 시작 */

.serve_menu{
	width: 100%;
	height:70px;
	background-color: #f9f9f9;
	padding:0px 10rem 0px 5rem;
}
.serve_menu_control{

}
.serve_menu_table{
	display: table;
	/*margin-left: 5rem;*/
	float: left;
}
.serve_menu_row{
	display: table-row;
}
.serve_menu_cell{
	width: 80px;
	height: 70px;
	display: table-cell;
	/*border: 1px solid red;*/
	text-align: center;
	vertical-align: middle;
}

.server_menu_submit{
	float: right;
	/*margin-right: 10rem;*/
	width: 100px;
	height: 40px;
	border: 1px solid rgba(0,0,0,0.2);
	text-align: center;
	/*background-color: rgba(0,0,0,0.2);*/
	border-radius: 15px;
	color: #fff;
    padding-top: 7px;
    margin-top: 17px;
    transition: .5s;
    font-size: .9rem;
}
.server_menu_submit:hover{
	transition: .5s;
	background-color: rgba(0,0,0,0.2);
}


/* top servr_menu 끝 */

/*main_Sence 시작*/
.main3_sense{
	width: 100%;
	height: 880px;
	background-image: url("../../common/img/sense_background.jpg");
	background-size: 100%;
	padding: 10rem 0 0 0;

}
.main3_sense_content1{
	text-align: center;
	font-size: 2.5rem;
	margin:0;
	padding: 0;
}
.main3_sense_content2{
	text-align: center;
	font-size: 1.5rem;
}

.main3_top_wallpaper{
	width: 100%;
	height :700px;
	background-image: url("../../common/img/main3_top_wallpaper2.jpg");
	background-size:100%;
	background-attachment: fixed;
	padding: 0 15rem 0 15rem;
}
.main3_top_title{
	height: 55%;
	padding:5rem 0 2rem 0;
	margin:0;
	font-size: 40px;
    color: #222;
    line-height: 56px;
    word-break: keep-all;
    font-family: 'NotoSans-Thin';
}
.main3_top_intro1{
	width: 50%;
	height: 45%;
	/*border: 2px red solid;*/
	float: left;
	font-size: 1.2rem;
	color: #222;

}
.main3_top_intro2{
	width: 50%;
	height: 45%;
	/*border: 2px blue solid;*/
	float: left;
	font-size: 1.2rem;
	color: #222;
}


/*main_Sence 끝*/
.main3_profile{
	width: 100%;
	height: 700px;
}

.main3_profile_pic{
  width: 100%;
  height: 700px;
  margin-top: 2rem;
  /* background-color: yellow; */

}


.main3_profile_table{
  display: table;
  width: 100%;
  height: 100%;
  /*position: relative;*/
  table-layout: fixed;
  word-break: break-all;
  margin: 0;
  padding: 0;
  color: #000;
}
.main3_profile_row{
  display: table-row;
  /*position: relative;*/
    margin: 0;
    padding: 0;
}
.main3_profile_cell{
  height: 50%;
  display: table-cell;
  /*position: relative;*/
    /* border: 1px solid gray; */
    text-align: center;
      transition: 1s;
}
.main3_profile_cell>img:hover{
  opacity: 0.3;
  transition: 1s;


}
/* main3 main 끝*/

.main3_bottom_wallpaper{
  width: 100%;
  height: 500px;;
  background-image: url("../img/main3_bottom_pic.jpg");
  background-size: 100%;
  background-attachment: fixed;
  padding: 8.6rem;
}
.main3_bottom_wallpaper_content1{
	text-align: center;
	color: #ffffff;
	font-size: 3rem;
	font-weight: 800;
	margin-bottom: 0;
}
.main3_bottom_wallpaper_content2{
	text-align: center;
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: 400;
	margin-top: 0;
}

.main3_business_title{
	text-align: center;
	font-size: 2rem;
	font-weight: 600;
	padding: 70px 0 50px 0;
	margin:0;
}
.main3_business_title>span{
	font-weight: 100;

}

.main3_business_nav{
  width: 100%;
  height: 400px;
  background-color: #fff;
}
.main3_business_table{
	width: 100%;
	height: 400px;
	display: table;

}
.main3_business_row{
	display: table-row;
}
.main3_business_cell{
	width: 20%;
	display: table-cell;
	border-left: 1px solid #dbdbdb;
	vertical-align: middle;
	text-align: center;
	padding:45px;
	transition:1s;

}
.main3_business_cell:hover{
	background-color: #dbdbdb;
	transition:1s;
}
.main3_history{
	width: 100%;
	height: 200px;
	background: linear-gradient(to right,black,#f9f9f9) ;
}
.main3_history_content{
	width: 100%;
	height: 600px;
}
.main3_history_table{
	width: 100%;
	height: 100px;
	display: table;
}
.main3_history_row{
	display: table-row;
}
.main3_history_cell{
	width: 10%;
	display: table-cell;
	border-bottom:1px solid #e2e2e2;
	vertical-align: middle;
	text-align: center;
}
.main3_history_cell1{
	width: 10%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.main3_history_cell1:hover{
	border-bottom: 5px solid #fff;
}
.main3_history_cell2{
	width: 10%;
	display: table-cell;
	border-top:1px solid #e2e2e2;
	vertical-align: middle;
	text-align: center;
}
.main3_history_cell2{
	width: 10%;
	display: table-cell;
	border-bottom:1px solid #e2e2e2;
	vertical-align: middle;
	text-align: center;
}
.main3_history_cell3:hover{
	
}



.main3_download{
  width: 100%;
  height: 400px;
  background-color: #fff;
}
.main3_download_table{
	width: 100%;
	height: 400px;
	display: table;

}
.main3_download_row{
	display: table-row;
}
.main3_download_cell{
	width: 20%;
	display: table-cell;
	border-left: 1px solid #dbdbdb;
	vertical-align: middle;
	text-align: center;
	padding:45px;
	transition:1s;
}
.main3_download_cell img{
	border-radius: 15px;
}
.main3_download_cell:hover{

	background-color: #dbdbdb;
	transition:1s;
}
.download_text{
	font-size:21px;
	line-height: 26px;
    color: #000;
    letter-spacing: -0.75px;
    margin-bottom: 15px;
}
.main3_download_cell> span > a> li{
	color: orange;
}

.main3_contact_address{
	width: 100%;
	height: 600px;
	background-color: #fff;

}

/* main3 footer 시작*/
.main3_footer{
  width: 100%;
  height: 400px;
  background-color: #1d1e23;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  padding-top: 150px;
}
.main3_footer_control>ul{
  padding: 0;
}
.main3_footer_control>ul li{
  font-size: 0.2px;
 
}
.main3_footer_end{
	width: 100%;
	height: 100px;
	background-color: #0d0e14;
	/*background-image: url(../../common/img/main3_top_background.jpg);*/
	background-attachment: scroll;

	text-align: center;
	color: #fff;
}
.main3_footer_end p{
	margin:0;
	padding-top: 40px;

}

/* main3 footer 끝*/